<!doctype>

<html>

  <head>
    <title>Add Album</title>
  </head>

  <body>
    <form method="POST" action="/add-album">
      Artist: <input type="text" id="artist" name="artist"><br>
      Album: <input type="text" id="album" name="album"><br>
      Genre: <input type="text" id="genre" name="genre"><br>
      Score: <input type="text" id="score" name="score"><br>
      Link: <input type="text" id="link" name="link"><br>
      Cover Img: <input type="text" id="cover" name="cover"><br>
      <input type="submit" value="Submit">
    </form>

  </body>

</html>
